@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  margin-bottom: 20px;
}

.div1 {
  background-color: #4f7da1;
}

.div2 {
  background-color: #86bb8a;
}

.div3 {
  background-color: #f6d365;
}

.div4 {
  background-color: #f26419;
}

.div5 {
  background-color: #ebebeb;
}

.heading {
  margin-bottom: 10px;
  text-align: center;
}

.link {
  color: blue;
}
